*{
    box-sizing: border-box;
    
}

html{
    width: 100vw;
    height: 100%;

    font-size: 18px;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(img/1384859179756.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.logo-link{
    width: 15%;

}

.logo-img{
    
    height: 100%;
    width: 100%;
    
}

.logo-img:hover{
    cursor: pointer;
}

nav{
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    
}

.dropdown{
    position: absolute;
    height: 100%;
    right: 5%;
    width: 15%;
    
}

.dropbtn{
    position: absolute;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

.menu-item {
    width: 100%;
    margin: 0;
    line-height: 30px;
    padding: 4px 0 4px 10px;
    transition: all .1s ease-in-out; 
    
}

.menu-item:hover{

    cursor: pointer;
    transform: scale(1.1);


}

.ps4{
    background-color: rgba(0, 0, 255, 0.5);
    
    color: white;
}

.nintendo{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.xbox{
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.pc{
    background-color: rgba(128, 0, 128, 0.5);
    color: white;
}

.show {display: block;}

main{
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    margin: auto auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro{
    margin: 60% auto 0;
    width: 80%;
    text-align: center;
    
}

.intro h1{
    margin: 0 auto;
}


.visit-notes{
    background-color: rgb(245, 213, 146);
    margin: 97% auto;
    width: 80%;
    bottom: 40px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
}

.visit-notes:hover{
    background-color: rgb(214, 144, 15);
    cursor: pointer;
}

.visit-notes sp{
    vertical-align: middle;
}

.notes-container{
    font-size: 16px;
    margin: 27% auto;
    width: 80%;
}
.notes-list{
    width:100%;
    margin: 20px 0px;
}

.notes-item{
    width: 100%;
    margin: 8% auto;
    line-height: 30px;

}

.sublist{
    margin: 1% 7%;
}

.search-form{
    width: 90%;
    margin: 74px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

fieldset{
    font-size: 16px;
}

legend{
    width: 100%;
    background-color: rgb(215, 241, 101);
    margin: 20px 0 10px;
}

.source-menu{
    margin: 30px 0 15px;
    
}

.date-input{
    margin: auto auto;
    width: 114px;
}

.source-input{
    margin: 8px 12px 8px 7px;
    vertical-align: middle;

}

fieldset div{
    height: 50%;
    width:100%;
}

.max-results-input{
    display: inline-block;
    width: 30%;
    margin: 10px;

}

.results-input-label{
    display: inline-block;
  
}

.submit{
    width: 40%;
    height: 30px;
    max-width: 150px;
    margin: 15px auto;
}

.search-menu{
    width: 100%;
}

#date-picker{
    
    background-color: white;
    width: 260px;
    height: 260px;
    padding: 15px 15px;
    margin: 10px auto 0;
}


.ui-datepicker-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;

}
.ui-datepicker-title{
    text-align: center;
    width: 100%;
    height: 40%;
}

.ui-datepicker-calendar{
    width: 100%;
    height: 200px;
}

thead{
    margin: 10px;
    line-height: 40px;
}

tbody{
    height: 100%;
    width: 100%;
}

td{
    text-align: center;
        
}

td a{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    
}

td a:link{
    text-decoration: none;
}

td:hover{
    background-color: #808080;
    cursor: pointer;
}

td:active{
    background-color: grey;
}



.results-section{
    width: 100%;
}

.list-container{
    width: 85%;
    margin: 15px auto;
    padding-top: 30px;
    
}

#rss-container{
    
    width: 75%;
    padding: 10px;
    margin: 200px auto 200px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.418);
}


.list-header{
    display: block;
    width: 100%;
    max-height: 100px;
    margin: auto auto;
    padding: 10px;
    font-size: 27px;
    text-align: center;
    background-color: white;
}


.thumbnail{
    display: block;
    width: 95%;
    height: auto;
    margin: 3% auto;
    
}

.news-list{
    background-color: rgba(242, 255, 127, 0.493);
    
}

.youtube-list{
    background-color: rgba(255, 0, 0, 0.301);
}

.gamespot-list{
    background-color: rgba(162, 0, 255, 0.315);

}


ul{
    width: 100%;
}



.rss-list li{

    margin: 7% auto;

}

.rss-list a:link{
    color: white;
    
}

.rss-list a:hover{
    color: rgba(253, 161, 86, 0.836);
    
}

.rss-list a:visited{
    color: 
    
}

p{
    margin: 3%;
}





@media screen and (min-width: 600px){

    .intro{
        margin-top: 45%;
    }

    .visit-notes{
        
        margin: 83% auto;
        width: 60%;
       
    }

    .notes-container{
        
        margin: 10% auto;
        
    }


    .dropdown{
        display: block;
        position: absolute;
        margin: 0 auto;
        height: 100%;
        width: 70%;
        right: 15%;
          
    }
    
    .dropbtn{
        display: none;

    }
    
    .dropdown-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        margin: auto auto;
        height: 100%;
        width: 50%;
        top: 0px;
        background-color: transparent;
        box-shadow: none;
         
    }

    .menu-item{
        height: 100%;
        width: 95px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        padding: 5px;
        border-radius: 2px;
        
    }
    
    .dropdown-content a {
        display: inline-block;
        margin: auto auto;
        padding: 0;
        text-decoration: none;
      
      }

    
   


    .list-container{
        padding-top: 40px;
    }

    .submit{
 
        margin-left: 150px;
    }


    .list li{
        margin: 10% 7%;
    }

    
}

@media screen and (min-width: 900px){


    .content{
        flex-direction: row;

    }

    .intro{
        margin-top: 19%;
    }

    .visit-notes{
        
        margin: 27.5% auto 0;
        width: 40%;
       
    }

    .notes-container{
        
        margin: 10% auto;
        
    }

    .search-menu{
        width: 290px;
    }

    .search-form{
        width: 99%;
        padding-left: 15px;
        margin-top: 80px;
    }
    
    .source-menu{
        margin: 25px 0px;
    }

    
    
    .submit{
        margin-left: auto;
    }

    .results-section{
        width: 80.6%;
        margin-top: 2.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-container{
        display: flex;
        flex-direction: column;
        margin: 1.5% 1.5%;
        width: 100%;


    }

    #rss-container{
        width: 60%;
    }



    .list:not(.rss-list){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    

    .list-container li{
        width: 42%;
        margin: 4% 4% 0.5%;
    }

    .rss-list li{
        width: 100%;
    }


    .thumbnail{
        width: 80%;
        
    }
}

.hidden{
    display: none;
}

@media screen and (min-width: 1450px){

    .list-container li{
        width: 25%;
        
    }

    .rss-list li{
        width: 100%;
    }

}