*{
    box-sizing: border-box;
    
}

html{
    width: 100vw;
    height: 100%;

    font-size: 18px;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(206, 253, 201);
}

.logo-link{
    width: 20%;
}

.logo-img{
    height: 100%;
    width: 100%;
    
}


nav{
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(105, 74, 243);
    
}

.dropdown{
    position: absolute;
    height: 100%;
    right: 5%;
    width: 15%;
    
}

.dropbtn{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgb(124, 243, 213);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.js-menu-item{
    margin: 7% 0 7% 3%;
}

.show {display: block;}

main{
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    margin: auto auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro{
    margin: auto auto;
    width: 80%;
    text-align: center;
    
}

h1{
    margin: auto auto;
}


.visit-notes{
    position: absolute;
    background-color: rgb(245, 213, 146);
    height: 20px;
    width: 80%;
    margin: auto;
    bottom: 40px;
    font-size: 15px;
}

.notes-container{
    font-size: 16px;
    margin: 10% auto;
    width: 80%;
}
.notes-list{
    width:90%;
    margin: 15px 0px;
}
.notes-item{
    width: 100%;

}


.search-form{
    width: 90%;
    margin: 74px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

fieldset{
    font-size: 16px;
}

legend{
    width: 100%;
    background-color: rgb(215, 241, 101);
    margin: 20px 0 10px;
}
.source-menu{
    margin: 30px 0 15px;
    
}

.date-input{
    margin: auto auto;
    width: 114px;
}

.source-input{
    margin: 8px 12px 8px 7px;
    vertical-align: middle;

}

fieldset div{
    height: 50%;
    width:100%;
}

.max-results-input{
    display: inline-block;
    width: 30%;
    margin: 10px;

}

.results-input-label{
    display: inline-block;
  
}

.submit{
    width: 40%;
    height: 30px;
    max-width: 150px;
    margin: 15px auto;
}

.search-menu{
    width: 100%;
}


.results-section{
    width: 100%;
}


.thumbnail{
    display: block;
    width: 95%;
    height: auto;
    margin: 3% auto;
    
}

.list-container{
    width: 85%;
    margin: 15px auto;
    padding-top: 30px;
}

#rss-container{
    
    width: 75%;
    padding: 10px;
    margin: 200px auto 200px;
    font-size: 16px;
    background-color: rgb(218, 218, 218);
}

.rss-header{
    background-color: rgba(152, 200, 255, 0.842);
    color: white;
}

.list-header{
    display: block;
    width: 100%;
    max-height: 100px;
    margin: auto auto;
    padding: 10px;
    font-size: 27px;
    text-align: center;
    background-color: white;
}



ul{
    width: 100%;
}

li{
    margin: 10% auto;
}

.rss-list li{

    margin: 7% auto;

}


p{
    margin: 3%;
}




@media screen and (min-width: 600px){

    .list-container{
        padding-top: 40px;
    }

    .submit{
 
            margin-left: 150px;
    }


    li{
        margin: 5%;
    }

    
   
}

@media screen and (min-width: 900px){


    .content{
        flex-direction: row;

    }

    .search-menu{
        width: 280px;
    }

    .search-form{
        width: 99%;
        padding-left: 20px;
        margin-top: 80px;
    }
    
    .source-menu{
        margin: 25px 0px;
    }

    
    
    .submit{
        margin-left: auto;
    }

    .results-section{
        width: 82%;
        margin-top: 2.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-container{
        display: flex;
        flex-direction: column;
        margin: 1.5% 1.5%;
        width: 100%;


    }

    #rss-container{
        width: 60%;
    }

    .list:not(.rss-list){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    

    .list-container li{
        width: 25%;
        margin: 4% 4% 0.5%;
    }

    .rss-list li{
        width: 100%;
    }
   
    
    


    .thumbnail{
        width: 80%;
        
    }
}

.hidden{
    display: none;
}
